.o_ActionTab {
    height: inherit;

    // scroll de todas las vistas en los tabs
    >div {
        height: inherit;

        .o_content {
            height: inherit;
            overflow: auto;

            .o_list_renderer {
                height: inherit;
            }
        }
    }

    >div.o_view_controller {
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;

        // scroll en formulario xxl
        >.o_form_view_container {
            width: 100%;
        }
    }

    // esconder el chatter
    .o_FormRenderer_chatterContainer {
        display: none;
    }

    // ocultar breadcrumb de todas las vistas soportadas
    >.o_kanban_view,
    >.o_list_view,
    >.o_form_view {

        .breadcrumb,
        .o_cp_bottom_left > .o_cp_buttons {
            display: none;
        }
    }

    // cambios solo vista formulario.
    .o_form_view {

        // mostrar breadcrumb porque el formulario tiene boton de guardar y crear
        .breadcrumb {
            display: flex;

            .breadcrumb-item {
                display: none; // ocultar el breadcrumb

                // ocultar el nombre del formulario
                >span {
                    display: none;
                }

                // oculta cuando no se ha guardado el formulario y dice unknown
                >em {
                    display: none;
                }
            }

            // copiado del base, oculat el slash del breadcrum
            .breadcrumb-item+.breadcrumb-item::before {
                display: none;
            }
        }

        // retoque esteticos al formulario
        .o_form_sheet_bg {
            background-color: unset;
            border: 0;
            padding-left: 0;

            >.o_form_sheet {
                box-shadow: none;
                margin-top: 0;
                border: 0;
            }
        }
    }
}