.o_ChatroomHeader {
    min-height: 36px;
    display: flex;
    justify-content: space-between;
    padding: 0 6px 0 6px;
    align-items: center;
    color: var(--body-color);
    overflow: hidden;
    flex-wrap: nowrap;
    flex: 0 1 36px;
    background-color: $acrux_header_background_color;
    //border-top: 1px solid $acrux_header_border_color;
    //border-bottom: 1px solid $acrux_header_border_color;

    .navbar-toggler-left,
    .navbar-toggler-right {
        cursor: pointer;
        font-size: 2rem;
        line-height: 1;
    }

    .navbar-toggler-left {
        padding: 0 0.75rem 0 0.25rem;
    }

    .navbar-toggler-right {
        padding: 0 0.25rem 0 0.75rem;
    }
}

.o_web_client.o_touch_device .o_ChatroomHeader {
    .navbar-toggler-left,
    .navbar-toggler-right {
        font-size: 3rem;
    }
    .navbar-toggler-left {
        padding: 0 0.95rem 0 0.25rem;
    }
    .navbar-toggler-right {
        padding: 0 0.25rem 0 0.95rem;
    }
}
